node_modules
.vscode
__tests__
ios/*
android/*
.DS_Store
.expo
package-lock.json
!ios/KontRoller/Info.plist
!ios/KontRoller.xcodeproj/*
!ios/KontRoller.xcworkspace/*
!ios/KontRoller/Images.xcassets/*
!android/gradle.properties
!android/build.gradle
!android/app/src/main/res/*
!android/app/src/main/java/com/soadzoor/kontroller/*